body {
  background-color: #556;
}
.page-header {
  height: 100px;
  background-color: transparent;
  border: 2px solid #999999;
  margin-bottom: 10px;
}
.game-terminal {
  width: 620px;
  margin: auto;
  position: relative;
}
.terminal-overlay {
  background-color: rgba(160, 209, 218, 0.14);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.overlay-image {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 100px;
  left: 270px;
}
.command-output {
  background-color: #333333;
  width: 600px;
  height: 210px;
  padding: 6px 10px;
  color: #8adb30;
  font-size: 1.2em;
  font-family: "Courier New", "monospace";
}
.command-output div.error-text {
  color: #ff3b1b;
}
.command-input {
  background-color: #333333;
  width: 600px;
  height: 30px;
  padding: 5px 10px;
}
.command-input input[type="text"] {
  background-color: #333333;
  width: 550px;
  border: none;
  padding: 0 5px;
  color: #8adb30;
  font-size: 1.2em;
  font-family: "Courier New", "monospace";
}
.command-input .command-prompt {
  color: #8adb30;
  font-size: 1.2em;
  font-family: "Courier New", "monospace";
}

