body {
    background-color: #4F535B;
}

.command-output {
    background-color: #333;
    margin: auto;
    width: 600px;
    height: 200px;
    padding: 6px 10px;
    color: #8adb30;
    font-family: monospace;
    font-size: 1.2em;
}

.command-input {
    background-color: #9d809d;
    margin: auto;
    width: 600px;
    height: 30px;
    padding: 10px 10px;
    font-family: Arial sans-serif;
}
.command-input input[type="text"] {
    height: 30px;
    width: 500px;
    border: none;
    padding: 0 5px;
    background-color: #dcffd1;
    font-size: 1.2em;
}
.command-input input[type="text"]:hover {

}